apiVersion: v1
kind: Pod
metadata:
  name: test_user-testproject1-pod
  labels:
    app: flask-app
spec:
  containers:
  - name: flask
    image: flask-app:latest
    imagePullPolicy: Never
    ports:
    - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: flask-service
spec:
  type: NodePort
  selector:
    app: flask-app
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30080
